body{
    background-image:url('https://bestanimations.com/media/cars/800991906luxury-car-animated-gif.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
} 